/* http://colorpalettes.net/color-palette-46/
 *
 * This has a professional look.
 */

§primary-color: #0096d3;
§primary-color-similar: #01528a;
§secondary-color: #e5f4f9;
§background-primary-color: #f8f8f8;
§background-secondary-color: #eaeaea;
§background-tertiary-color: #f0f0f0;

§primary-text-color: #ebebeb;
§secondary-text-color: #555555;
§tertiary-text-color: #999999;

§border-color: #cdcdcd;
§border-color-light: #e6e6e6;
§border-color-dark: #9b9b9b;

body {
    overflow: hidden;
}

div.default-loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

span.default-loading-indicator {
    display: inline-block;
    font-size: 150%;
}

.animation-spin {
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

h3 {
    font-size: 100%;
    margin: 0;
    font-variant: small-caps;
}

.hidden {
    display: none !important;
}
