fieldset {
    position: relative;
    border: 0;
    margin: 2.5em 0;
    padding: 0;
    left: 0;
    right: 0;
}

.widget-helper fieldset {
    margin: 0;
    margin-bottom: 0.5em;
}

.input-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.5em;
    border-bottom: 1px solid §secondary-text-color;
}

input {
    font-family: 'Lato';
    color: black;
}

/* Normal */
input[type="text"],
input[type="password"] {
    outline: none;
    font-size: 100%;
    border: 0;
    padding: 0.25em 0.5em;
    background: transparent;
}

.widget-helper input[type="text"],
.widget-helper input[type="password"] {
    width: 100%;
}

input[type="text"] ~ label,
input[type="password"] ~ label {
    font-size: 100%;
    color: §secondary-text-color;
    padding: 0.25em 0.5em;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s ease all;
    z-index: -10;
}

input[type="text"] ~ .input-bar::after,
input[type="password"] ~ .input-bar::after {
    transition: 0.2s ease all;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    content: " ";
    border-bottom: 2px solid §primary-color;
}

/* Focused */
input[type="text"]:focus ~ label,
input[type="text"]:valid ~ label,
input[type="password"]:focus ~ label,
input[type="password"]:valid ~ label {
    transition: 0.2s ease all;
    font-size: 80%;
    color: §primary-color-similar;
    top: -1.5em;
}

input[type="text"]:focus ~ .input-bar::after,
input[type="password"]:focus ~ .input-bar::after {
    transition: 0.2s ease all;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: " ";
    border-bottom: 2px solid §primary-color;
}

input[type="text"]:invalid,
input[type="password"]:invalid {
    box-shadow: none;
}

/* Selectbox */
.selectbox {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    visibility: hidden;
}

.selectbox-input {
    background: transparent;
}

.selectbox-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1.5em;
    display: flex;
    align-items: center;
}

.selectbox-item {
    padding: 0.5em;
    display: none;
}

@media only screen and (min-width: 760px) {
    .selectbox {
        z-index: 10;
        position: absolute;
        top: 2.5em;
    }
}

@media only screen and (max-width: 760px) {
    .selectbox {
        position: fixed;    
        width: 80%;
        height: 60%;
        margin: auto;
    }

    .selectbox-list {
        position: relative;
        background: §background-primary-color;
    }

    .selectbox-item {
    }
}

/* Focused */
.selectbox-input:focus ~ .selectbox {
    background: §background-primary-color;
    box-shadow: 0 0.05em 0.25em §border-color;
    visibility: visible;
}

@media only screen and (max-width: 760px) {
    .selectbox-input:focus ~ .selectbox {
        display: fixed;
        top: 2em;
        bottom: 2em;
        left: 3em;
        right: 3em;
        background: rgba(0, 0, 0, 0.4);
    }
}

.selectbox-input:focus ~ .selectbox .selectbox-item {
    display: block;
}

.selectbox-input:focus ~ .selectbox .selectbox-item.hover {
    color: §primary-color;
    background: §border-color-light;
    cursor: default;
}

/* DATEPICKER */
.datepicker .dialog-content header {
    margin-bottom: 1em;
    display: flex;
}

.datepicker .dialog-content header .month {
    flex-grow: 1;
    text-align: center;
}

.datepicker table {
    border-spacing: 0;
}

@media only screen and (min-width: 760px) {
    .datepicker td {
        padding: 0.5em 1em;
        text-align: center;
        cursor: pointer;
    }

    .datepicker th {
        padding: 0.5em 1em;
        padding-bottom: 1.5em;
    }
}

@media only screen and (max-width: 760px) {
    .datepicker td {
        padding: 0.5em 0.8em;
        text-align: center;
        cursor: pointer;
    }

    .datepicker th {
        padding: 0.5em 0.8em;
        padding-bottom: 1.5em;
    }
}

.datepicker td:hover,
.datepicker td.other-month:hover {
    background: §primary-color;
    color: §primary-text-color;
}

.datepicker td.other-month {
    color: §tertiary-text-color;
}

.datepicker td.selected {
    background: §primary-color-similar;
    color: §primary-text-color;
}

.datepicker .prev,
.datepicker .next {
    cursor: pointer;
}

.datepicker .prev:hover,
.datepicker .next:hover {
    color: §primary-color;
}

/* file upload */
input[type="file"] {
    display: none;
}

.file-upload .drop {
    border: 1px solid §border-color;
    padding: 1.5em;
    margin: 1em 0;
    text-align: center;
    background: §background-secondary-color;
}

.file-upload .drop div {
    margin: 0.5em 0;
}

.file-upload .or {
    font-size: 90%;
}

.file-upload .files {
    margin-bottom: 2em;
}

.file-upload .files > div {
    padding: 1em 1.5em;
    border: 1px solid §border-color;
    margin-bottom: 0.5em;
}

.file-upload .files > div.valid {
    border-left: 0.25em solid green;
}

.file-upload .files > div.invalid {
    border-left: 0.25em solid red;
}

.files .file-name {
    
}

.files .file-size {
    color: §tertiary-text-color;
}

/* buttons */
button.flat {
    margin: 0 0.5em;
    padding: 0.25em 1em;
    border: 0;
    background: transparent;

    font-size: 100%;
    font-weight: 600;
    color: §primary-color;
    text-transform: uppercase;
}

button.flat:hover {
    background: §border-color-light;
    cursor: pointer;
}

button.flat:active {
    color: §background-primary-color;
    background: §primary-color;
}

button.raised {
    margin: 0 0.5em;
    padding: 0.5em 1em;
    border: 0;
    border-radius: 0.1em;
    background: §primary-color;

    font-size: 100%;
    font-weight: 600;
    color: §primary-text-color;
    text-transform: uppercase;

    box-shadow: 0 0.05em 0.1em §border-color-dark;
}

button.raised:hover {
    background: §primary-color-similar;
    cursor: pointer;
}

button.raised:active {
    color: §background-primary-color;
    box-shadow: 0 0 0.1em §border-color-dark;
}
