table.table {
    width: 100%;
    background: white;
    border: 1px solid §border-color;
    border-top: 0.15em solid §primary-color;
    border-spacing: 0;
    table-layout: fixed;
}

table.table tr {
    position: relative;
}


table.table th {
    text-align: left;
    font-variant: small-caps;
}

table.table th, 
table.table td {
    padding: 0.4em 0.75em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid §border-color-light;
}

table.table td.widget {
    overflow: visible;
}

table.table tr:not(.treeSubRow):hover td {
    background: §background-secondary-color;
}

.unfold-indicator {
    display: inline-block;
    min-width: 1.4em;
    font-size: 90%;
    padding-right: 0.5em;
    cursor: pointer;
}

.unfold-indicator:hover {
    color: §primary-color;
}

tr.treeSubRow > td {
    padding: 0; 
    border: 0;
}

table.treeSubTable {
    border: 0;
}

div.table-actions {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1px;
    top: 0;
    bottom: 0;
    padding-right: 0.5em;
}

span.table-action {
    display: none;
    cursor: pointer;
}

tr:hover > td > div.table-actions > span.table-action,
div.table-actions.selected > span.table-action {
    display: inline;
}

span.table-action:hover,
span.table-action.selected {
    display: inline;
    color: §primary-color;
}
